@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat
@using PierresTreats.Models


@if(@Model.JoinEntities.Count == 0)
{
  <p>This Treat is not assigned to any Flavors</p>
}
else
{
  <h4>This Treat assigned to the following engineerss:</h4>
  <ul>
    @foreach(FlavorTreats join in Model.JoinEntities)
    {
      <li>Flavor: @join.Flavor.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatsId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Flavor to Treat", "AddFlavor", new { id = Model.TreatId })</p>

@using (Html.BeginForm("Delete", "Flavors", new { id = Model.TreatId }, FormMethod.Post))
{
    <input type="submit" value="Delete Treat" onclick="location.href='@Url.Action("Delete", "Treats", new { id = Model.TreatId })'; return false;" />
  }

@using (Html.BeginForm("Edit", "Treats", new { id = Model.TreatId }, FormMethod.Post))
{
    <input type="submit" value="Edit Treat" onclick="location.href='@Url.Action("Edit", "Treats", new { id = Model.TreatId })'; return false;" />
  }
