@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
@using PierresTreats.Models


<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>  

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor isn't assigned to any treats yet.</p>
}
else
{
  <h4>This flavor is assigned to the following treats</h4>
  <ul>
    @foreach(FlavorTreat join in Model.JoinEntities)
    {
      <li>Treat: @join.Treat.Name</li>
      }
  </ul>
}

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Back to list", "Index")</p>
    <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
    <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
}
@Html.ActionLink("Back to Home", "Index", "Home")
