@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
@using PierresTreats.Models

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Back to list", "Index")</p>
    <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
    <p>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</p>
    
}
